#sky
{
	position:fixed;
	left:0px;
	bottom: 0px;	
	width: 150000px;
	height: 100%;
	background-image: url(images/sky.png);
	background-size: auto 100% 
	z-index: 0;
}

#roadLines
{
	position:fixed;
	left:0px;
	bottom: 72px;	
	width: 150000px;
	height: 11px;
	background-image: url(images/roadLines.png);
	z-index: 2;
}

#programmingLanguageBanner
{
	position:fixed;
	left:1000px;
	bottom: 83px;	    
	width: 500px;
	height: 800px;
	background-image: url(images/programmingLanguageBanner.png);
	background-size: 100% 100%;
	z-index: 3;
}

.fireHydrant
{
	position:fixed;
	left:700px;
	bottom: 82px;	    
	width: 40px;
	height: 80px;
	background-image: url(images/fireHydrant.png);
	background-size: 100% 100%;
	z-index: 2;
}


.streetLight
{
	position:fixed;
	left:1400px;
	bottom: 73px;	    
	width: 400px;
	height: 600px;
	background-image: url(images/streetLight.png);
	background-size: 100% 100%;
	z-index: 2;
}

#carSmoke
{
	opacity:0;
	position:fixed;
	left:5.6%;
	bottom: 110px;	    
	width: 50px;
	height: 50px;
	background-image: url(images/carSmoke.gif);
	background-size: 100% 100%;
	z-index: 4;
	transition: opacity 0.5s linear;
}

#car
{
	position:fixed;
	left:7%;
	bottom: 80px;	    
	width: 400px;
	height: 140px;
	background-image: url(images/car.png);
	background-size: 100% 100%;
	z-index: 4;
}

#carShadow
{
	position:fixed;
	left:8.5%;
	bottom: 10px;
	width: 360px;
	height: 73px;
	background-image: url(images/carShadow.png);
	background-size: 100% 100%;
	z-index: 2;
}

#road
{
	position:fixed;
	left:0px;
	bottom: 0px;
	width: 100%;
	height: 83px;
	background-image: url(images/road.png);
	background-size: 100% 100%;
	z-index: 1;
}

#leftWheel
{
	position:absolute;
	left:17.25%;
	bottom: 0px;	
	width: 15%;
	padding-top:15%;
	background-image: url(images/wheel.png);
	background-size: 100% 100%;
	z-index: 4;	
	transition: bottom 0.1s ease-in-out;
}
#rightWheel
{
	position:absolute;
	left:77.1%;
	bottom: -2px;	
	width: 15%;
	padding-top:15%;
	background-image: url(images/wheel.png);
	background-size: 100% 100%;
	z-index: 4;	
	transition: bottom 0.1s ease-in-out;
}

#instructions
{
	width: 335px;
	height: 20px;
	position:fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 35px;
	margin: auto;
	color:#0B3B17;
	z-index:1000;
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
	100% { opacity: 0; }
}

div{
	display: block;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
	height:2000000px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #BDBDBD;
  z-index: 100000;
}

#resumeTitleText {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal "Passero One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

#resumeTitleText:hover {
  color: #424242;
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

h2 {
  text-transform: uppercase;
  animation: pulse 0.3s linear 0s infinite alternate;
}

@keyframes pulse {
  from { opacity: 1; }
  to { opacity: 0.3; }
}