#sky
{
	position:fixed;
	left:0px;
	bottom: 0px;	
	width: 150000px;
	height: 100%;
	background-image: url(images/sky.png);
	background-size: auto 100% 
	z-index: 0;
}

#roadLines
{
	position:fixed;
	left:0px;
	bottom: 72px;	
	width: 150000px;
	height: 11px;
	background-image: url(images/roadLines.png);
	z-index: 3;
}



#versatileSoftwareEngineerBanner
{
	position:fixed;
	left:1200px;
	bottom: 83px;	    
	width: 500px;
	height: 800px;
	background-image: url(images/versatileSoftwareEngineerBanner.png);
	background-size: 100% 100%;
	z-index: 3;
}

#databasesSign
{
	position:fixed;
	left:1900;
	bottom: -650px;	    
	width: 300px;
	height: 700px;
	background-image: url(images/databasesSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#codeSign
{
	position:fixed;
	left:2160px;
	bottom: -650px;	     
	width: 300px;
	height: 700px;
	background-image: url(images/codeSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#requirementsAnalysisSign
{
	position:fixed;
	left:2420px;
	bottom: -550px;	 	    
	width: 300px;
	height: 600px;
	background-image: url(images/requirementsAnalysisSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#testAutomationSign
{
	position:fixed;
	left: 2680px;
	bottom: -550px;	 	    
	width: 300px;
	height: 600px;
	background-image: url(images/testAutomationSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#expert{
	position:fixed;
	left: 1825px;
	font-size:50px;
	bottom:710px;	
}
#advanced{
	position:fixed;
	left: 1825px;
	font-size:50px;
	bottom:545px;	
}

#intermediate{
	position:fixed;
	left: 1825px;
	font-size:50px;
	bottom:391px;	
}

#beginner{
	position:fixed;
	left: 1825px;
	font-size:50px;
	bottom:237px;	
}



#ironBar-1
{
	position:fixed;
	left: 1900px;
	bottom: 699px;	 	    
	width: 1080px;
	height: 10px;
	background-image: url(images/ironBar.png);
	background-size: 100% 100%;
	z-index: 1;
}


#ironBar-2
{
	position:fixed;
	left: 1900px;
	bottom: 545px;	 	    
	width: 1080px;
	height: 10px;
	background-image: url(images/ironBar.png);
	background-size: 100% 100%;
	z-index: 1;
}

#ironBar-3
{
	position:fixed;
	left: 1900px;
	bottom: 391px;	 	    
	width: 1080px;
	height: 10px;
	background-image: url(images/ironBar.png);
	background-size: 100% 100%;
	z-index: 1;
}


#ironBar-4
{
	position:fixed;
	left: 1900px;
	bottom: 237px;	 	    
	width: 1080px;
	height: 10px;
	background-image: url(images/ironBar.png);
	background-size: 100% 100%;
	z-index: 1;
}

#openSwimText
{
	position:fixed;
	left: 4340px;
	font-size:50px;
	bottom:250px;
	text-align: center;
	width: 200px;	
}

#openSwimSign{
	position:fixed;
	left: 4300px;
	bottom: -900px;	 	    
	width: 500px;
	height: 1000px;
	background-image: url(images/openSwimSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 1.1s linear;
}

#tallText{	
	position:fixed;
	left: 4925px;
	font-size:50px;
	bottom:200px;
	width: 200px;	
}


#tallguy
{
	position:fixed;
	left: 5000px;
	bottom: -1500px;	 	    
	width: 207px;
	height: 1535px;
	background-image: url(images/tallguy.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 7s ease-out;
}

#kayakerText
{
	position:fixed;
	left: 5500px;
	font-size:50px;
	bottom:200px;
	text-align: center;
	width: 200px;	
}


#kayakerSign{
	position:fixed;
	left: 5435px;
	bottom: -900px;	 	    
	width: 500px;
	height: 1000px;
	background-image: url(images/kayakerSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 1.1s linear;
}

#programmingLanguageBanner
{
	position:fixed;
	left:6400px;
	bottom: 83px;	    
	width: 500px;
	height: 800px;
	background-image: url(images/programmingLanguagesBanner.png);
	background-size: 100% 100%;
	z-index: 3;
}

#expert-2{
	position:fixed;
	left: 7050px;
	font-size:50px;
	bottom:710px;	
}
#advanced-2{
	position:fixed;
	left: 7050px;
	font-size:50px;
	bottom:545px;	
}

#intermediate-2{
	position:fixed;
	left: 7050px;
	font-size:50px;
	bottom:391px;	
}

#beginner-2{
	position:fixed;
	left: 7050px;
	font-size:50px;
	bottom:237px;	
}



#ironBar-5
{
	position:fixed;
	left: 7125px;
	bottom: 699px;	 	    
	width: 1600px;
	height: 10px;
	background-image: url(images/ironBar.png);
	background-size: 100% 100%;
	z-index: 1;
}


#ironBar-6
{
	position:fixed;
	left: 7125px;
	bottom: 545px;	 	    
	width: 1600px;
	height: 10px;
	background-image: url(images/ironBar.png);
	background-size: 100% 100%;
	z-index: 1;
}

#ironBar-7
{
	position:fixed;
	left: 7125px;
	bottom: 391px;	 	    
	width: 1600px;
	height: 10px;
	background-image: url(images/ironBar.png);
	background-size: 100% 100%;
	z-index: 1;
}


#ironBar-8
{
	position:fixed;
	left: 7125px;
	bottom: 237px;	 	    
	width: 1600px;
	height: 10px;
	background-image: url(images/ironBar.png);
	background-size: 100% 100%;
	z-index: 1;
}

#CSharpSign
{
	position:fixed;
	left:7125px;
	bottom: -650px;	    
	width: 300px;
	height: 700px;
	background-image: url(images/CSharpSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#SQLSign
{
	position:fixed;
	left:7385px;
	bottom: -650px;	     
	width: 300px;
	height: 700px;
	background-image: url(images/SQLSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#vbnetSign
{
	position:fixed;
	left:7645px;
	bottom: -650px;	 	    
	width: 300px;
	height: 700px;
	background-image: url(images/vbnetSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#javaSign
{
	position:fixed;
	left: 7905px;
	bottom: -550px;	 	    
	width: 300px;
	height: 600px;
	background-image: url(images/javaSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#javascriptsign
{
	position:fixed;
	left: 8165px;
	bottom: -550px;	 	    
	width: 300px;
	height: 600px;
	background-image: url(images/javascriptsign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

#ccplusplusSign
{
	position:fixed;
	left: 8425;
	bottom: -550px;	 	    
	width: 300px;
	height: 600px;
	background-image: url(images/ccplusplusSign.png);
	background-size: 100% 100%;
	z-index: 2;
	transition: bottom 0.5s linear;
}

/** In the way of programming languages*/
#streetLight-7{
	visibility: hidden
}
#streetLight-8{
	visibility: hidden
}

#truck
{
	position:fixed;
	left: 18800px;
	bottom: 82px;	 	    
	width: 800px;
	height: 300px;
	background-image: url(images/truck.png);
	background-size: 100% 100%;
	z-index: 4;
	transition: bottom 0.5s linear;
}

#udesConsultat
{
	position:fixed;
	left: 19038px;
	bottom: 190px;	 	    
	z-index: 4;
	transition: bottom 0.5s linear;
}


#truck-2
{
	position:fixed;
	left: 20300px;
	bottom: 82px;	 	    
	width: 800px;
	height: 300px;
	background-image: url(images/truck.png);
	background-size: 100% 100%;
	z-index: 4;
	transition: bottom 0.5s linear;
}

#databaseLoader
{
	position:fixed;
	left: 20538px;
	bottom: 210px;	 	    
	z-index: 4;
	transition: bottom 0.5s linear;
}

#truck-3
{
	position:fixed;
	left: 21800px;
	bottom: 82px;	 	    
	width: 800px;
	height: 300px;
	background-image: url(images/truck.png);
	background-size: 100% 100%;
	z-index: 4;
	transition: bottom 0.5s linear;
}

#smusInternship
{
	position:fixed;
	left: 22038px;
	bottom: 160px;	 	    
	z-index: 4;
	transition: bottom 0.5s linear;
}

#truck-4
{
	position:fixed;
	left: 23300px;
	bottom: 82px;	 	    
	width: 800px;
	height: 300px;
	background-image: url(images/truck.png);
	background-size: 100% 100%;
	z-index: 4;
	transition: bottom 0.5s linear;
}

#desjardinsInternship
{
	position:fixed;
	left: 23538px;
	bottom: 210px;	 	    
	z-index: 4;
	transition: bottom 0.5s linear;
}

.truckDiv>p {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 30px;
	text-align: center;
	text-rendering: optimizeLegibility;
	margin: 5px;
	font-weight: bold;
	width: 470px;
	z-index: 4;
}
.truckDiv>p>a {
	text-decoration:none;
	color:#131313;
	z-index: 4;
}

.truckDiv>p>a:hover {
	color:  #545454;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	z-index: 4;
}
.truckDiv>p.elegantshadow {
	color: #131313;
	letter-spacing: .15em;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #8f8e8d, -2px 4px 1px #b7b6b5, -3px 6px 1px #dbdad9, -4px 8px 1px #e4e3e2;
}
.truckDiv>p.insetshadow {
	color: #202020;
}

/*In the way of trucks*/
#streetLight-9{
	visibility: hidden;
}



.fireHydrant
{
	position:fixed;
	left:700px;
	bottom: 82px;	    
	width: 40px;
	height: 80px;
	background-image: url(images/fireHydrant.png);
	background-size: 100% 100%;
	z-index: 3;
}

.circulationLight
{
	position:fixed;
	left:3320px;
	bottom: 82px;	    
	width: 426px;
	height: 533px;
	background-image: url(images/circulationlight.png);
	background-size: 100% 100%;
	z-index: 3;
}

.streetLight
{
	position:fixed;
	left:-2450px;
	bottom: 73px;	    
	width: 400px;
	height: 600px;
	background-image: url(images/streetLight.png);
	background-size: 100% 100%;
	z-index: 3;
}

#carSmoke
{
	opacity:0;
	position:fixed;
	left:5.6%;
	bottom: 110px;	    
	width: 50px;
	height: 50px;
	background-image: url(images/carSmoke.gif);
	background-size: 100% 100%;
	z-index: 5;
	transition: opacity 0.5s linear, bottom 0.1s ease-in;;
}

#car
{
	position:fixed;
	left:7%;
	bottom: 80px;	    
	width: 400px;
	height: 140px;
	background-image: url(images/car.png);
	background-size: 100% 100%;
	z-index: 5;
	transition: bottom 0.1s ease-in;
}

#carShadow
{
	position:fixed;
	left:8.5%;
	bottom: 10px;
	width: 360px;
	height: 73px;
	background-image: url(images/carShadow.png);
	background-size: 100% 100%;
	z-index: 3;
	transition: bottom 0.1s ease-in;
}

#road
{
	position:fixed;
	left:0px;
	bottom: 0px;
	width: 100%;
	height: 83px;
	background-image: url(images/road.png);
	background-size: 100% 100%;
	z-index: 3;
}

#leftWheel
{
	position:absolute;
	left:17.25%;
	bottom: 0px;	
	width: 15%;
	padding-top:15%;
	background-image: url(images/wheel.png);
	background-size: 100% 100%;
	z-index: 5;	
	transition: bottom 0.1s ease-in-out;
}
#rightWheel
{
	position:absolute;
	left:77.1%;
	bottom: -2px;	
	width: 15%;
	padding-top:15%;
	background-image: url(images/wheel.png);
	background-size: 100% 100%;
	z-index: 5;	
	transition: bottom 0.1s ease-in-out;
}

#instructions
{
	width: 220px;
	height: 20px;
	position:fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 35px;
	margin: auto;
	color:#0B3B17;
	z-index:1000;
}

/**In the way of instructions*/
#streetLight-3
{
	visibility: hidden;
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {  
	100% { opacity: 0; }
}

div{
	display: block;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
	height:2000000px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}



.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #606060;
	z-index: 100000;
}

#resumeTitleText {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	border: none;
	font: normal 72px/normal "Passero One", Helvetica, sans-serif;
	color: rgba(255,255,255,1);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

#resumeTitleText:hover {
	color:  #828282;
	text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

h1{
	margin: 0;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	font-weight: 600;
	line-height: 48px;
	height: 48px;
}


